In [1]:
!pip install -U gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.12/dist-packages (5.2.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.12/dist-packages (from gdown) (4.13.5)
Requirement already satisfied: filelock in /usr/local/lib/python3.12/dist-packages (from gdown) (3.20.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.12/dist-packages (from gdown) (2.32.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from gdown) (4.67.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4->gdown) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4->gdown) (4.15.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (2025.10.5)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (1.7.1)

In [2]:
import gdown

# ~~~ FILE LOCATIONS ~~~

# Vehicles
file_id = '1hBo7yGGeeYxOcLQHRYX-zI6DDpiMut2N'             # Vehicles_2005-2021.csv
url = f'https://drive.google.com/uc?id={file_id}'

file_id019 = '1vwVPZZNIOhZGJmxNdiRLKLsTV9pst52Z'          # Vehicles_2019.csv
url019 = f'https://drive.google.com/uc?id={file_id019}'

file_id020 = '1T5Dm7P9IPs0VuuCOQ6BxlZNZvuFI_L_Y'          # Vehicles_2020.csv
url020 = f'https://drive.google.com/uc?id={file_id020}'

file_id021 = '1KELqHXsRg8BaTgiInJEfUTFs5mskNtUA'          # Vehicles_2021.csv
url021 = f'https://drive.google.com/uc?id={file_id021}'

file_id022 = '15UiUJAwccF_Tc83aa6iFg8w_0e1WXX6Y'          # Vehicles_2022.csv
url022 = f'https://drive.google.com/uc?id={file_id022}'

file_id023 = '1pPuTP6OdKmbgpdq445LzFrwXUrUbYOt-'          # Vehicles_2023.csv
url023 = f'https://drive.google.com/uc?id={file_id023}'


# Places
file_id1 = '1KozFCcTIDD4mgPHtlIL1JMVjOBYCbgkZ'            # Places_2005-2021.csv
url1 = f'https://drive.google.com/uc?id={file_id1}'

file_id119 = '1K2CL9t1KF-nYGRKDidbo09S6ovclWxy4'          # Places_2019.csv
url119 = f'https://drive.google.com/uc?id={file_id119}'

file_id120 = '1XM1k_6Txz1rUXDNi-MwygHmr8GGmJV56'          # Places_2020.csv
url120 = f'https://drive.google.com/uc?id={file_id120}'

file_id121 = '1MK81u0Ppq-laARGoNexwVL_26kH47G1Z'          # Places_2021.csv
url121 = f'https://drive.google.com/uc?id={file_id121}'

file_id122 = '1feXzIFQ7X8MjEKzX7OSVvtf08MjVj8hQ'          # Places_2022.csv
url122 = f'https://drive.google.com/uc?id={file_id122}'

file_id123 = '1AHAWlwCVWLUpQRBd1_bgnwtXXGyluOsX'          # Places_2023.csv
url123 = f'https://drive.google.com/uc?id={file_id123}'


# Users
file_id2 = '1dbOo1w_QlUyl06nawKC-iGSeU7djpwD7'            # Users_2005-2021.csv
url2 = f'https://drive.google.com/uc?id={file_id2}'

file_id219 = '1fRpuQ6zsoY3nUBU8BugrtYwSMEAuc2mG'          # Users_2019.csv
url219 = f'https://drive.google.com/uc?id={file_id219}'

file_id220 = '1aKrcGn12QzdSEKqQP_rD8WlBX3B1pEK8'          # Users_2020.csv
url220 = f'https://drive.google.com/uc?id={file_id220}'

file_id221 = '1XCF7uiH6ZEFwWcmCkMcRAruFx2n4d8fw'          # Users_2021.csv
url221 = f'https://drive.google.com/uc?id={file_id221}'

file_id222 = '16i8h581082OIGsyHk605eNAI6hkWBqyJ'          # Users_2022.csv
url222 = f'https://drive.google.com/uc?id={file_id222}'

file_id223 = '1-GM-FxPEynZM7IklBWgmtNu3HOZtOo_V'          # Users_2023.csv
url223 = f'https://drive.google.com/uc?id={file_id223}'


# Holidays
file_id3 = '1kCFNU5xmYK-dRUbeWM_UOq8ayV_qz45h'            # Holidays_2005-2021.csv
url3 = f'https://drive.google.com/uc?id={file_id3}'


# Caracteristics
file_id4 = '1U09BewhFogrj1qAoBqIycQkyH2PSl1_J'            # Caracteristics_2005-2021.csv
url4 = f'https://drive.google.com/uc?id={file_id4}'

file_id419 = '1bwaM5lzvL5020ySLBp98_C8qNTkufGW2'          # Caracteristics_2019.csv
url419 = f'https://drive.google.com/uc?id={file_id419}'

file_id420 = '17xPTX-jFTycgx1PaL0dEm8rqRHuxmLOM'          # Caracteristics_2020.csv
url420 = f'https://drive.google.com/uc?id={file_id420}'

file_id421 = '1VPVTozG9PfRxR-i_cy1SEPCJovgEUwE_'          # Caracteristics_2021.csv
url421 = f'https://drive.google.com/uc?id={file_id421}'

file_id422 = '1FFK86EGpgucYahEtS29cc3wf7TbPjoDv'          # Caracteristics_2022.csv
url422 = f'https://drive.google.com/uc?id={file_id422}'

file_id423 = '1gfLR6fnYvnv7nXF5_RmutiEgRE24NSZD'          # Caracteristics_2023.csv
url423 = f'https://drive.google.com/uc?id={file_id423}'


# ~~~ DOWNLOAD THE FILES ~~~

# Vehicles
gdown.download(url, 'vehicules.csv', quiet=False)
gdown.download(url019, 'vehicles_2019.csv', quiet=False)
gdown.download(url020, 'vehicles_2020.csv', quiet=False)
gdown.download(url021, 'vehicles_2021.csv', quiet=False)
gdown.download(url022, 'vehicles_2022.csv', quiet=False)
gdown.download(url023, 'vehicles_2023.csv', quiet=False)


# Places
gdown.download(url1, 'lieux.csv', quiet=False)
gdown.download(url119, 'places_2019.csv', quiet=False)
gdown.download(url120, 'places_2020.csv', quiet=False)
gdown.download(url121, 'places_2021.csv', quiet=False)
gdown.download(url122, 'places_2022.csv', quiet=False)
gdown.download(url123, 'places_2023.csv', quiet=False)


# Users
gdown.download(url2, 'usagers.csv', quiet=False)
gdown.download(url219, 'users_2019.csv', quiet=False)
gdown.download(url220, 'users_2020.csv', quiet=False)
gdown.download(url221, 'users_2021.csv', quiet=False)
gdown.download(url222, 'users_2022.csv', quiet=False)
gdown.download(url223, 'users_2023.csv', quiet=False)


# Holidays
gdown.download(url3, 'holidays.csv', quiet=False)


# Caracteristics
gdown.download(url4, 'caracteristiques.csv', quiet=False)
gdown.download(url419, 'caracteristics_2019.csv', quiet=False)
gdown.download(url420, 'caracteristics_2020.csv', quiet=False)
gdown.download(url421, 'caracteristics_2021.csv', quiet=False)
gdown.download(url422, 'caracteristics_2022.csv', quiet=False)
gdown.download(url423, 'caracteristics_2023.csv', quiet=False)


# ~~~ READ THE CVS FILES ~~~

import pandas as pd

# Vehicles
df_vehicles = pd.read_csv('vehicules.csv')
df_vehicles_19 = pd.read_csv('vehicles_2019.csv', sep=";")
df_vehicles_20 = pd.read_csv('vehicles_2020.csv', sep=";")
df_vehicles_21 = pd.read_csv('vehicles_2021.csv', sep=";")
df_vehicles_22 = pd.read_csv('vehicles_2022.csv', sep=";")
df_vehicles_23 = pd.read_csv('vehicles_2023.csv', sep=";")

# Places
df_places = pd.read_csv('lieux.csv')
df_places_19 = pd.read_csv('places_2019.csv', sep=";")
df_places_20 = pd.read_csv('places_2020.csv', sep=";")
df_places_21 = pd.read_csv('places_2021.csv', sep=";")
df_places_22 = pd.read_csv('places_2022.csv', sep=";")
df_places_23 = pd.read_csv('places_2023.csv', sep=";")

# Users
df_users = pd.read_csv('usagers.csv')
df_users_19 = pd.read_csv('users_2019.csv', sep=";")
df_users_20 = pd.read_csv('users_2020.csv', sep=";")
df_users_21 = pd.read_csv('users_2021.csv', sep=";")
df_users_22 = pd.read_csv('users_2022.csv', sep=";")
df_users_23 = pd.read_csv('users_2023.csv', sep=";")

#  Holidays
df_holidays = pd.read_csv('holidays.csv')

# Caracteristics
df_caracteristics = pd.read_csv('caracteristiques.csv', encoding="latin1")
df_caracteristics_19 = pd.read_csv('caracteristics_2019.csv', sep=";", encoding="latin1")
df_caracteristics_20 = pd.read_csv('caracteristics_2020.csv', sep=";", encoding="latin1")
df_caracteristics_21 = pd.read_csv('caracteristics_2021.csv', sep=";", encoding="latin1")
df_caracteristics_22 = pd.read_csv('caracteristics_2022.csv', sep=";", encoding="latin1")
df_caracteristics_23 = pd.read_csv('caracteristics_2023.csv', sep=";", encoding="latin1")

Downloading...
From (original): https://drive.google.com/uc?id=1hBo7yGGeeYxOcLQHRYX-zI6DDpiMut2N
From (redirected): https://drive.google.com/uc?id=1hBo7yGGeeYxOcLQHRYX-zI6DDpiMut2N&confirm=t&uuid=2e393413-ea4a-4d82-96a6-0679f8fc9f2a
To: /content/vehicules.csv
100%|██████████| 107M/107M [00:02<00:00, 41.1MB/s]
Downloading...
From: https://drive.google.com/uc?id=1vwVPZZNIOhZGJmxNdiRLKLsTV9pst52Z
To: /content/vehicles_2019.csv
100%|██████████| 6.92M/6.92M [00:00<00:00, 31.6MB/s]
Downloading...
From: https://drive.google.com/uc?id=1T5Dm7P9IPs0VuuCOQ6BxlZNZvuFI_L_Y
To: /content/vehicles_2020.csv
100%|██████████| 5.49M/5.49M [00:00<00:00, 38.1MB/s]
Downloading...
From: https://drive.google.com/uc?id=1KELqHXsRg8BaTgiInJEfUTFs5mskNtUA
To: /content/vehicles_2021.csv
100%|██████████| 6.20M/6.20M [00:00<00:00, 22.6MB/s]
Downloading...
From: https://drive.google.com/uc?id=15UiUJAwccF_Tc83aa6iFg8w_0e1WXX6Y
To: /content/vehicles_2022.csv
100%|██████████| 6.02M/6.02M [00:00<00:00, 32.8MB/s]
Downloading...
From: https://drive.google.com/uc?id=1pPuTP6OdKmbgpdq445LzFrwXUrUbYOt-
To: /content/vehicles_2023.csv
100%|██████████| 6.43M/6.43M [00:00<00:00, 19.9MB/s]
Downloading...
From: https://drive.google.com/uc?id=1KozFCcTIDD4mgPHtlIL1JMVjOBYCbgkZ
To: /content/lieux.csv
100%|██████████| 75.3M/75.3M [00:01<00:00, 48.7MB/s]
Downloading...
From: https://drive.google.com/uc?id=1K2CL9t1KF-nYGRKDidbo09S6ovclWxy4
To: /content/places_2019.csv
100%|██████████| 5.39M/5.39M [00:00<00:00, 23.1MB/s]
Downloading...
From: https://drive.google.com/uc?id=1XM1k_6Txz1rUXDNi-MwygHmr8GGmJV56
To: /content/places_2020.csv
100%|██████████| 4.52M/4.52M [00:00<00:00, 25.6MB/s]
Downloading...
From: https://drive.google.com/uc?id=1MK81u0Ppq-laARGoNexwVL_26kH47G1Z
To: /content/places_2021.csv
100%|██████████| 5.77M/5.77M [00:00<00:00, 27.9MB/s]
Downloading...
From: https://drive.google.com/uc?id=1feXzIFQ7X8MjEKzX7OSVvtf08MjVj8hQ
To: /content/places_2022.csv
100%|██████████| 5.62M/5.62M [00:00<00:00, 23.1MB/s]
Downloading...
From: https://drive.google.com/uc?id=1AHAWlwCVWLUpQRBd1_bgnwtXXGyluOsX
To: /content/places_2023.csv
100%|██████████| 7.18M/7.18M [00:00<00:00, 25.0MB/s]
Downloading...
From (original): https://drive.google.com/uc?id=1dbOo1w_QlUyl06nawKC-iGSeU7djpwD7
From (redirected): https://drive.google.com/uc?id=1dbOo1w_QlUyl06nawKC-iGSeU7djpwD7&confirm=t&uuid=6bed56e8-3c76-49de-89c3-de9c083649e9
To: /content/usagers.csv
100%|██████████| 183M/183M [00:02<00:00, 75.3MB/s]
Downloading...
From: https://drive.google.com/uc?id=1fRpuQ6zsoY3nUBU8BugrtYwSMEAuc2mG
To: /content/users_2019.csv
100%|██████████| 12.5M/12.5M [00:00<00:00, 47.8MB/s]
Downloading...
From: https://drive.google.com/uc?id=1aKrcGn12QzdSEKqQP_rD8WlBX3B1pEK8
To: /content/users_2020.csv
100%|██████████| 10.1M/10.1M [00:00<00:00, 26.1MB/s]
Downloading...
From: https://drive.google.com/uc?id=1XCF7uiH6ZEFwWcmCkMcRAruFx2n4d8fw
To: /content/users_2021.csv
100%|██████████| 13.0M/13.0M [00:00<00:00, 32.1MB/s]
Downloading...
From: https://drive.google.com/uc?id=16i8h581082OIGsyHk605eNAI6hkWBqyJ
To: /content/users_2022.csv
100%|██████████| 13.0M/13.0M [00:00<00:00, 38.4MB/s]
Downloading...
From: https://drive.google.com/uc?id=1-GM-FxPEynZM7IklBWgmtNu3HOZtOo_V
To: /content/users_2023.csv
100%|██████████| 13.9M/13.9M [00:00<00:00, 27.1MB/s]
Downloading...
From: https://drive.google.com/uc?id=1kCFNU5xmYK-dRUbeWM_UOq8ayV_qz45h
To: /content/holidays.csv
100%|██████████| 3.53k/3.53k [00:00<00:00, 11.4MB/s]
Downloading...
From (original): https://drive.google.com/uc?id=1U09BewhFogrj1qAoBqIycQkyH2PSl1_J
From (redirected): https://drive.google.com/uc?id=1U09BewhFogrj1qAoBqIycQkyH2PSl1_J&confirm=t&uuid=06bd154e-319a-431c-b2ac-0be27e6d04ae
To: /content/caracteristiques.csv
100%|██████████| 108M/108M [00:02<00:00, 52.1MB/s]
Downloading...
From: https://drive.google.com/uc?id=1bwaM5lzvL5020ySLBp98_C8qNTkufGW2
To: /content/caracteristics_2019.csv
100%|██████████| 7.00M/7.00M [00:00<00:00, 32.7MB/s]
Downloading...
From: https://drive.google.com/uc?id=17xPTX-jFTycgx1PaL0dEm8rqRHuxmLOM
To: /content/caracteristics_2020.csv
100%|██████████| 5.66M/5.66M [00:00<00:00, 26.9MB/s]
Downloading...
From: https://drive.google.com/uc?id=1VPVTozG9PfRxR-i_cy1SEPCJovgEUwE_
To: /content/caracteristics_2021.csv
100%|██████████| 7.05M/7.05M [00:00<00:00, 28.9MB/s]
Downloading...
From: https://drive.google.com/uc?id=1FFK86EGpgucYahEtS29cc3wf7TbPjoDv
To: /content/caracteristics_2022.csv
100%|██████████| 6.88M/6.88M [00:00<00:00, 26.3MB/s]
Downloading...
From: https://drive.google.com/uc?id=1gfLR6fnYvnv7nXF5_RmutiEgRE24NSZD
To: /content/caracteristics_2023.csv
100%|██████████| 6.59M/6.59M [00:00<00:00, 21.9MB/s]
/tmp/ipython-input-2144305555.py:137: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_vehicles = pd.read_csv('vehicules.csv')
/tmp/ipython-input-2144305555.py:145: DtypeWarning: Columns (3,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_places = pd.read_csv('lieux.csv')
/tmp/ipython-input-2144305555.py:149: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_places_22 = pd.read_csv('places_2022.csv', sep=";")
/tmp/ipython-input-2144305555.py:150: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_places_23 = pd.read_csv('places_2023.csv', sep=";")
/tmp/ipython-input-2144305555.py:153: DtypeWarning: Columns (9,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_users = pd.read_csv('usagers.csv')
/tmp/ipython-input-2144305555.py:164: DtypeWarning: Columns (4,10,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_caracteristics = pd.read_csv('caracteristiques.csv', encoding="latin1")

Above - As advised by our project mentor, we followed the instructions shared in order to import the files from the official government website (https://tinyurl.com/y5xwy274) into Google Colab using Google Drive.

We first imported the aggregated files which is the time period 2005 to 2021 for the four main tables: Caractéristiques, Usagers, Lieux, and Véhicules (Translates to: Caracteristics, Users, Places, & Vehicles) However, we quickly realized that some of the columns had inconsistent data types across years (e.g., integer in one year, float in another), which could create problems later when analyzing or visualizing the data.

To avoid these issues, we decided as a group to instead retrieve the individual year files for 2019–2023 (five years for each table, giving us a total of 20 files). We then concatenated the yearly files into one DataFrame per table (This can be seen and discussed further below for each table).

Doing this will enable us to work with a cleaner and more consistent dataset. First because the reporting formats have been more stable in recent years, but also focusing on 2019–2023 makes it easier to detect and handle any data inconsistencies on a year-by-year basis. At the same time, we still benefit from a dataset that is large enough (for example, more than 200,000 rows for df_places alone) to identify meaningful trends and produce insightful visualizations.

In [3]:
display(df_holidays.head())
df_holidays.info()
pd.DataFrame({
    'missing values': df_holidays.isnull().sum(),
    'missing values %': df_holidays.isnull().mean()*100
    })

           ds                holiday
0  2005-01-01               New year
1  2005-03-28          Easter Monday
2  2005-05-01             Labour Day
3  2005-05-05     Ascension Thursday
4  2005-05-08  Victory in Europe Day

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ds       132 non-null    object
 1   holiday  132 non-null    object
dtypes: object(2)
memory usage: 2.2+ KB

         missing values  missing values %
ds                    0               0.0
holiday               0               0.0

## 1. Viewing the users files 2019 - 2023

In [4]:

# Overview of the users 2023 table
display(df_users_23.head())

# Data types and missing values
df_users_23.info()

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202300000001,203 851 184,155 680 557,A01,1,1,4,1,1978.0,5,2,0,-1,-1,-1,-1
1,202300000002,203 851 182,155 680 556,A01,1,1,1,2,1997.0,9,1,0,-1,-1,-1,-1
2,202300000002,203 851 183,155 680 556,A01,10,3,3,1,1997.0,9,0,-1,-1,2,3,1
3,202300000003,203 851 180,155 680 554,B01,1,1,3,1,1987.0,0,2,6,0,0,0,-1
4,202300000003,203 851 181,155 680 555,A01,1,1,1,2,1984.0,0,1,0,0,0,0,-1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125789 entries, 0 to 125788
Data columns (total 16 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Num_Acc      125789 non-null  int64
 1   id_usager    125789 non-null  object
 2   id_vehicule  125789 non-null  object
 3   num_veh      125789 non-null  object
 4   place        125789 non-null  int64
 5   catu         125789 non-null  int64
 6   grav         125789 non-null  int64
 7   sexe         125789 non-null  int64
 8   an_nais      123191 non-null  float64
 9   trajet       125789 non-null  int64
 10  secu1        125789 non-null  int64
 11  secu2        125789 non-null  int64
 12  secu3        125789 non-null  int64
 13  locp         125789 non-null  int64
 14  actp         125789 non-null  object
 15  etatp        125789 non-null  int64
dtypes: float64(1), int64(11), object(4)
memory usage: 15.4+ MB

In [5]:
# Overview of the users 2022 table
display(df_users_22.head())

# Data types and missing values
df_users_22.info()

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202200000001,1 099 700,813 952,A01,1,1,3,1,2008.0,5,2,8,-1,-1,-1,-1
1,202200000001,1 099 701,813 953,B01,1,1,1,1,1948.0,5,1,8,-1,-1,-1,-1
2,202200000002,1 099 698,813 950,B01,1,1,4,1,1988.0,9,1,0,-1,0,0,-1
3,202200000002,1 099 699,813 951,A01,1,1,1,1,1970.0,4,1,0,-1,0,0,-1
4,202200000003,1 099 696,813 948,A01,1,1,1,1,2002.0,0,1,0,-1,-1,-1,-1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126662 entries, 0 to 126661
Data columns (total 16 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Num_Acc      126662 non-null  int64
 1   id_usager    126662 non-null  object
 2   id_vehicule  126662 non-null  object
 3   num_veh      126662 non-null  object
 4   place        126662 non-null  int64
 5   catu         126662 non-null  int64
 6   grav         126662 non-null  int64
 7   sexe         126662 non-null  int64
 8   an_nais      123788 non-null  float64
 9   trajet       126662 non-null  int64
 10  secu1        126662 non-null  int64
 11  secu2        126662 non-null  int64
 12  secu3        126662 non-null  int64
 13  locp         126662 non-null  int64
 14  actp         126662 non-null  object
 15  etatp        126662 non-null  int64
dtypes: float64(1), int64(11), object(4)
memory usage: 15.5+ MB

In [6]:
# Overview of the users 2021 table
display(df_users_21.head())

# Data types and missing values
df_users_21.info()

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202100000001,267 638,201 764,B01,1,1,3,1,2000.0,1,0,9,-1,0,0,-1
1,202100000001,267 639,201 765,A01,1,1,1,1,1978.0,1,1,-1,-1,0,0,-1
2,202100000002,267 636,201 762,A01,1,1,4,1,1983.0,0,1,-1,-1,0,0,-1
3,202100000002,267 637,201 763,B01,1,1,3,1,1993.0,0,1,-1,-1,0,0,-1
4,202100000003,267 634,201 761,A01,1,1,1,1,1995.0,1,1,0,-1,0,0,-1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129248 entries, 0 to 129247
Data columns (total 16 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Num_Acc      129248 non-null  int64
 1   id_usager    129248 non-null  object
 2   id_vehicule  129248 non-null  object
 3   num_veh      129248 non-null  object
 4   place        129248 non-null  int64
 5   catu         129248 non-null  int64
 6   grav         129248 non-null  int64
 7   sexe         129248 non-null  int64
 8   an_nais      126181 non-null  float64
 9   trajet       129248 non-null  int64
 10  secu1        129248 non-null  int64
 11  secu2        129248 non-null  int64
 12  secu3        129248 non-null  int64
 13  locp         129248 non-null  int64
 14  actp         129248 non-null  object
 15  etatp        129248 non-null  int64
dtypes: float64(1), int64(11), object(4)
memory usage: 15.8+ MB

In [7]:
# Overview of the users 2020 table
display(df_users_20.head())

# Data types and missing values
df_users_20.info()

,Num_Acc,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202000000001,154 742 274,B01,1,1,1,1,1983,5,1,0,-1,-1,-1,-1
1,202000000001,154 742 275,A01,1,1,3,1,1982,5,2,6,-1,-1,-1,-1
2,202000000002,154 742 273,A01,1,1,1,1,1997,1,8,0,-1,-1,-1,-1
3,202000000002,154 742 273,A01,10,3,4,1,1967,5,0,-1,-1,3,3,1
4,202000000003,154 742 271,B01,1,1,1,1,1985,0,1,0,-1,-1,-1,-1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105295 entries, 0 to 105294
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Num_Acc      105295 non-null  int64
 1   id_vehicule  105295 non-null  object
 2   num_veh      105295 non-null  object
 3   place        105295 non-null  int64
 4   catu         105295 non-null  int64
 5   grav         105295 non-null  int64
 6   sexe         105295 non-null  int64
 7   an_nais      105295 non-null  int64
 8   trajet       105295 non-null  int64
 9   secu1        105295 non-null  int64
 10  secu2        105295 non-null  int64
 11  secu3        105295 non-null  int64
 12  locp         105295 non-null  int64
 13  actp         105295 non-null  object
 14  etatp        105295 non-null  int64
dtypes: int64(12), object(3)
memory usage: 12.1+ MB

In [8]:
# Overview of the users 2019 table
display(df_users_19.head())

# Data types and missing values
df_users_19.info()

,Num_Acc,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,201900000001,138 306 524,B01,2,2,4,2,2002,0,1,0,-1,-1,-1,-1
1,201900000001,138 306 524,B01,1,1,4,2,1993,5,1,0,-1,-1,-1,-1
2,201900000001,138 306 525,A01,1,1,1,1,1959,0,1,0,-1,-1,-1,-1
3,201900000002,138 306 523,A01,1,1,4,2,1994,0,1,0,-1,-1,-1,-1
4,201900000003,138 306 520,A01,1,1,1,1,1996,0,1,0,-1,-1,0,-1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132977 entries, 0 to 132976
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Num_Acc      132977 non-null  int64
 1   id_vehicule  132977 non-null  object
 2   num_veh      132977 non-null  object
 3   place        132977 non-null  int64
 4   catu         132977 non-null  int64
 5   grav         132977 non-null  int64
 6   sexe         132977 non-null  int64
 7   an_nais      132977 non-null  int64
 8   trajet       132977 non-null  int64
 9   secu1        132977 non-null  int64
 10  secu2        132977 non-null  int64
 11  secu3        132977 non-null  int64
 12  locp         132977 non-null  int64
 13  actp         132977 non-null  object
 14  etatp        132977 non-null  int64
dtypes: int64(12), object(3)
memory usage: 15.2+ MB

## 2. Concatenating the users files 2019 - 2023

In [9]:
# File paths
files = {
    2019: "users_2019.csv",
    2020: "users_2020.csv",
    2021: "users_2021.csv",
    2022: "users_2022.csv",
    2023: "users_2023.csv",
}
# Read, add year column, and store in a list
dfs = []
for year, path in files.items():
    df = pd.read_csv(path, sep = ";", low_memory = False)

    # Ensure id_usager exists and make it all a string
    if "id_usager" not in df.columns:
        df["id_usager"] = pd.NA
    else:
        df["id_usager"] = df["id_usager"].astype(str)

    # Normalize an_nais
    if "an_nais" in df.columns:
        df["an_nais"] = (
            pd.to_numeric(df["an_nais"], errors = "coerce")  # handles float/int mix
            .round()                                       # turn 1985.0 → 1985
            .astype("Int64")                               # nullable integer dtype
        )

    # Add year column
    df["year"] = year
    dfs.append(df)

# Concatenate all years for users 2019 - 2023
combined_df = pd.concat(dfs, ignore_index = True)

# Check for duplicates
duplicates = combined_df.duplicated()

# Count the number of duplicates
num_duplicates = duplicates.sum()

print("Number of duplicate rows:", num_duplicates)

# Save to a single CSV
combined_df.to_csv("usagers-2019-2023.csv", sep = ";", index = False)
print("Combined file saved as usagers-2019-2023.csv")

Number of duplicate rows: 164
Combined file saved as usagers-2019-2023.csv

In [10]:
# read in the combined dataframe
df_users = pd.read_csv('usagers-2019-2023.csv', sep = ";", dtype = {"id_usager": "string"})

# Overview of the concatenated users table
display(df_users.head())

missing_data_percentage_users = (df_users.isnull().sum()/len(df_users))* 100
print(missing_data_percentage_users)

# drop the duplicates
df_users = df_users.drop_duplicates(keep = "first")

# Data types and percentage of missing values
df_users.info()

# Count the number of accidents recorded
unique_count = df_users["Num_Acc"].nunique()
print("The number of accidents recorded in the users file is:", unique_count)

# Count how many rows have locp == -1
count_minus1_locp = (df_users["locp"] == -1).sum()

print("Number of rows where locp == -1:", count_minus1_locp)

# Count how many rows have etatp == -1
count_minus1_etatp = (df_users["etatp"] == -1).sum()

print("Number of rows where etatp == -1:", count_minus1_etatp)

,Num_Acc,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp,id_usager,year
0,201900000001,138 306 524,B01,2,2,4,2,2002.0,0,1,0,-1,-1,-1,-1,<NA>,2019
1,201900000001,138 306 524,B01,1,1,4,2,1993.0,5,1,0,-1,-1,-1,-1,<NA>,2019
2,201900000001,138 306 525,A01,1,1,1,1,1959.0,0,1,0,-1,-1,-1,-1,<NA>,2019
3,201900000002,138 306 523,A01,1,1,4,2,1994.0,0,1,0,-1,-1,-1,-1,<NA>,2019
4,201900000003,138 306 520,A01,1,1,1,1,1996.0,0,1,0,-1,-1,0,-1,<NA>,2019

Num_Acc         0.000000
id_vehicule     0.000000
num_veh         0.000000
place           0.000000
catu            0.000000
grav            0.000000
sexe            0.000000
an_nais         1.377322
trajet          0.000000
secu1           0.000000
secu2           0.000000
secu3           0.000000
locp            0.000000
actp            0.000000
etatp           0.000000
id_usager      38.432765
year            0.000000
dtype: float64
<class 'pandas.core.frame.DataFrame'>
Index: 619807 entries, 0 to 619970
Data columns (total 17 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Num_Acc      619807 non-null  int64
 1   id_vehicule  619807 non-null  object
 2   num_veh      619807 non-null  object
 3   place        619807 non-null  int64
 4   catu         619807 non-null  int64
 5   grav         619807 non-null  int64
 6   sexe         619807 non-null  int64
 7   an_nais      611268 non-null  float64
 8   trajet       619807 non-null  int64
 9   secu1        619807 non-null  int64
 10  secu2        619807 non-null  int64
 11  secu3        619807 non-null  int64
 12  locp         619807 non-null  int64
 13  actp         619807 non-null  object
 14  etatp        619807 non-null  int64
 15  id_usager    381699 non-null  string
 16  year         619807 non-null  int64
dtypes: float64(1), int64(12), object(3), string(1)
memory usage: 85.1+ MB
The number of accidents recorded in the users file is: 273226
Number of rows where locp == -1: 280061
Number of rows where etatp == -1: 571824

## 3. Viewing the places files 2019 - 2023

In [11]:
# Overview of the places table 2023
display(df_places_23.head())

# Data types and missing values
df_places_23.info()

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202300000001,4,RUE DE RIVOLI,0,NaN,1,2,0,1,-1,-1,1,NaN,-1,2,0,1,30
1,202300000001,4,RUE SAINT FLORENTIN,0,NaN,1,1,0,1,-1,-1,1,NaN,-1,2,0,1,30
2,202300000002,3,120,0,NaN,2,3,2,1,-1,-1,1,NaN,-1,2,0,1,50
3,202300000003,3,5,0,NaN,2,4,0,1,1,0,1,NaN,-1,2,5,1,50
4,202300000003,3,87,0,NaN,2,4,0,1,1,0,1,NaN,-1,2,5,1,50

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70860 entries, 0 to 70859
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Num_Acc  70860 non-null  int64
 1   catr     70860 non-null  int64
 2   voie     58113 non-null  object
 3   v1       70860 non-null  int64
 4   v2       5884 non-null   object
 5   circ     70860 non-null  int64
 6   nbv      70860 non-null  object
 7   vosp     70860 non-null  int64
 8   prof     70860 non-null  int64
 9   pr       70860 non-null  object
 10  pr1      70860 non-null  object
 11  plan     70860 non-null  int64
 12  lartpc   31 non-null     object
 13  larrout  70860 non-null  object
 14  surf     70860 non-null  int64
 15  infra    70860 non-null  int64
 16  situ     70860 non-null  int64
 17  vma      70860 non-null  int64
dtypes: int64(11), object(7)
memory usage: 9.7+ MB

In [12]:
# Overview of the places table 2022
display(df_places_22.head())

# Data types and missing values
df_places_22.info()

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202200000001,4,TEIL(vieille route du),0,NaN,2,2,0,1,(1),(1),1,NaN,-1,1,0,1,50
1,202200000002,4,NaN,0,NaN,2,2,0,1,(1),(1),1,NaN,-1,1,0,1,50
2,202200000003,3,ROND POINT DE BREZILLET,0,NaN,-1,2,0,1,0,0,1,NaN,-1,1,5,1,50
3,202200000004,4,QUATORZE JUILLET (RUE DU),0,NaN,1,1,0,2,(1),(1),1,NaN,4,1,0,1,30
4,202200000005,3,ROUTE DE JEAN MOULIN-RN 538,0,NaN,2,2,0,1,8,0,1,NaN,-1,1,0,1,80

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55302 entries, 0 to 55301
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Num_Acc  55302 non-null  int64
 1   catr     55302 non-null  int64
 2   voie     50497 non-null  object
 3   v1       55302 non-null  int64
 4   v2       5255 non-null   object
 5   circ     55302 non-null  int64
 6   nbv      55302 non-null  object
 7   vosp     55302 non-null  int64
 8   prof     55302 non-null  int64
 9   pr       55302 non-null  object
 10  pr1      55302 non-null  object
 11  plan     55302 non-null  int64
 12  lartpc   28 non-null     object
 13  larrout  55302 non-null  object
 14  surf     55302 non-null  int64
 15  infra    55302 non-null  int64
 16  situ     55302 non-null  int64
 17  vma      55302 non-null  int64
dtypes: int64(11), object(7)
memory usage: 7.6+ MB

In [13]:
# Overview of the places table 2021
display(df_places_21.head())

# Data types and missing values
df_places_21.info()

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202100000001,3,981,-1,NaN,2,2,0,1,(1),(1),1,NaN,-1,1,0,1,80
1,202100000002,3,20,0,E,2,2,0,1,0,10,1,NaN,-1,1,0,1,80
2,202100000003,4,GENERAL GALLIENI (BOULEVARD DU),0,NaN,2,2,0,1,(1),(1),1,NaN,-1,1,0,1,50
3,202100000004,3,GENERAL GALLIENI (BOULEVARD DU),0,NaN,2,4,0,1,0,1,1,NaN,-1,1,0,1,50
4,202100000005,7,PARIS. ROUTE DE,-1,NaN,2,2,-1,1,11,150,1,NaN,-1,1,0,1,50

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56518 entries, 0 to 56517
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Num_Acc  56518 non-null  int64
 1   catr     56518 non-null  int64
 2   voie     52111 non-null  object
 3   v1       56518 non-null  int64
 4   v2       4990 non-null   object
 5   circ     56518 non-null  int64
 6   nbv      56518 non-null  int64
 7   vosp     56518 non-null  int64
 8   prof     56518 non-null  int64
 9   pr       56518 non-null  object
 10  pr1      56518 non-null  object
 11  plan     56518 non-null  int64
 12  lartpc   108 non-null    object
 13  larrout  56518 non-null  object
 14  surf     56518 non-null  int64
 15  infra    56518 non-null  int64
 16  situ     56518 non-null  int64
 17  vma      56518 non-null  int64
dtypes: int64(12), object(6)
memory usage: 7.8+ MB

In [14]:
# Overview of the places table 2020
display(df_places_20.head())

# Data types and missing values
df_places_20.info()

df_places_20['lartpc'].unique()

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202000000001,4,HENRI BARBUSSE (AVENUE),0,NaN,2,2,0,1,0,0,1,NaN,-1,1,0,1,50
1,202000000002,4,MOUSSEAUX(CHEMIN),0,NaN,2,2,0,1,0,100,3,NaN,-1,1,0,1,50
2,202000000003,4,CARNOT(AVENUE),0,NaN,-1,2,0,1,0,0,1,NaN,-1,1,0,1,50
3,202000000004,4,VICTOR HUGO (AVENUE),0,NaN,2,2,0,1,1,0,1,NaN,-1,1,0,1,30
4,202000000005,3,35,0,NaN,1,1,0,1,4,674,2,NaN,-1,1,3,8,50

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47744 entries, 0 to 47743
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Num_Acc  47744 non-null  int64
 1   catr     47744 non-null  int64
 2   voie     36817 non-null  object
 3   v1       47744 non-null  int64
 4   v2       2864 non-null   object
 5   circ     47744 non-null  int64
 6   nbv      47744 non-null  int64
 7   vosp     47744 non-null  int64
 8   prof     47744 non-null  int64
 9   pr       47744 non-null  object
 10  pr1      47744 non-null  object
 11  plan     47744 non-null  int64
 12  lartpc   149 non-null    object
 13  larrout  47744 non-null  object
 14  surf     47744 non-null  int64
 15  infra    47744 non-null  int64
 16  situ     47744 non-null  int64
 17  vma      47744 non-null  int64
dtypes: int64(12), object(6)
memory usage: 6.6+ MB

array([nan, '0', '3,2', '2,5', '3', '8', '3,5', '1,5', '7,5', '4', '5,7',
       '2', '42', '10,2', '15', '20', '8,8', '5', '8,2', '2,8'],
      dtype=object)

In [15]:
# Overview of the places table 2019
display(df_places_19.head())

# Data types and missing values
df_places_19.info()

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,201900000001,1,3,0.0,NaN,3,10,0,1,6,900,2,NaN,NaN,1,2,1,70
1,201900000002,1,1,0.0,NaN,1,2,0,4,3,845,2,NaN,NaN,1,0,1,70
2,201900000003,1,86,0.0,NaN,3,8,0,1,10,500,3,NaN,NaN,1,0,1,90
3,201900000004,1,4,0.0,NaN,3,5,0,1,2,299,1,NaN,NaN,1,0,1,90
4,201900000005,1,86,0.0,INT,1,3,0,1,41,0,3,NaN,NaN,1,2,1,90

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58840 entries, 0 to 58839
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Num_Acc  58840 non-null  int64
 1   catr     58840 non-null  int64
 2   voie     55905 non-null  object
 3   v1       48094 non-null  float64
 4   v2       4167 non-null   object
 5   circ     58840 non-null  int64
 6   nbv      58840 non-null  int64
 7   vosp     58840 non-null  int64
 8   prof     58840 non-null  int64
 9   pr       58840 non-null  object
 10  pr1      58840 non-null  object
 11  plan     58840 non-null  int64
 12  lartpc   211 non-null    float64
 13  larrout  372 non-null    float64
 14  surf     58840 non-null  int64
 15  infra    58840 non-null  int64
 16  situ     58840 non-null  int64
 17  vma      58840 non-null  int64
dtypes: float64(3), int64(11), object(4)
memory usage: 8.1+ MB

## 4. Concatenating the places files 2019 - 2023

In [16]:
# File paths
files = {
    2019: "places_2019.csv",
    2020: "places_2020.csv",
    2021: "places_2021.csv",
    2022: "places_2022.csv",
    2023: "places_2023.csv",
}
# Read, add year column, and store in a list
dfs = []
for year, path in files.items():
    df = pd.read_csv(path, sep = ";", low_memory = False)

    # Ensure nbv and lartpc are strings
    df["nbv"] = df["nbv"].astype(str)
    df["lartpc"] = df["lartpc"].astype(str)

    # Add year column
    df["year"] = year
    dfs.append(df)

# Concatenate all years for places 2019 - 2023
combined_df = pd.concat(dfs, ignore_index = True)

# Check for duplicates
duplicates = combined_df.duplicated()

# Count the number of duplicates
num_duplicates = duplicates.sum()

print("Number of duplicate rows:", num_duplicates)

# Save to a single CSV
combined_df.to_csv("lieux-2019-2023.csv", sep = ";", index = False)
print("Combined file saved as lieux-2019-2023.csv")

Number of duplicate rows: 0
Combined file saved as lieux-2019-2023.csv

In [17]:
# read in the combined dataframe
df_places = pd.read_csv('lieux-2019-2023.csv', sep = ";", dtype = {"nbv": "string", "lartpc": "string", "larrout": "string"})

# Overview of the concatenated places table
display(df_places.head())

# Data types and percentage of missing values
df_places.info()
missing_data_percentage_places = (df_places.isnull().sum()/len(df_places))* 100
print(missing_data_percentage_places)

# Count the number of accidents recorded
unique_count = df_places["Num_Acc"].nunique()
print("The number of accidents recorded in the places file is:", unique_count)

# Count how many rows have vma == -1
count_minus1 = (df_places["vma"] == -1).sum()

print("Number of rows where vma == -1:", count_minus1)

# show counts of the unique values in vma
display(df_places['vma'].value_counts())

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma,year
0,201900000001,1,3,0.0,NaN,3,10,0,1,6,900,2,<NA>,<NA>,1,2,1,70,2019
1,201900000002,1,1,0.0,NaN,1,2,0,4,3,845,2,<NA>,<NA>,1,0,1,70,2019
2,201900000003,1,86,0.0,NaN,3,8,0,1,10,500,3,<NA>,<NA>,1,0,1,90,2019
3,201900000004,1,4,0.0,NaN,3,5,0,1,2,299,1,<NA>,<NA>,1,0,1,90,2019
4,201900000005,1,86,0.0,INT,1,3,0,1,41,0,3,<NA>,<NA>,1,2,1,90,2019

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289264 entries, 0 to 289263
Data columns (total 19 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Num_Acc  289264 non-null  int64
 1   catr     289264 non-null  int64
 2   voie     253443 non-null  object
 3   v1       278518 non-null  float64
 4   v2       23160 non-null   object
 5   circ     289264 non-null  int64
 6   nbv      289264 non-null  string
 7   vosp     289264 non-null  int64
 8   prof     289264 non-null  int64
 9   pr       289264 non-null  object
 10  pr1      289264 non-null  object
 11  plan     289264 non-null  int64
 12  lartpc   527 non-null     string
 13  larrout  230796 non-null  string
 14  surf     289264 non-null  int64
 15  infra    289264 non-null  int64
 16  situ     289264 non-null  int64
 17  vma      289264 non-null  int64
 18  year     289264 non-null  int64
dtypes: float64(1), int64(11), object(4), string(3)
memory usage: 41.9+ MB
Num_Acc     0.000000
catr        0.000000
voie       12.383497
v1          3.714946
v2         91.993473
circ        0.000000
nbv         0.000000
vosp        0.000000
prof        0.000000
pr          0.000000
pr1         0.000000
plan        0.000000
lartpc     99.817813
larrout    20.212678
surf        0.000000
infra       0.000000
situ        0.000000
vma         0.000000
year        0.000000
dtype: float64
The number of accidents recorded in the places file is: 273226
Number of rows where vma == -1: 7971

vma
 50     147446
 80      39750
 30      36189
 90      20085
 70      19772
 110      9703
-1        7971
 130      5203
 20        836
 60        774
 10        486
 40        264
 25        155
 15        127
 5         106
 45         96
 1          67
 2          47
 500        41
 100        39
 6          27
 35         19
 3           9
 300         7
 4           4
 700         4
 75          4
 900         4
 65          4
 7           3
 55          2
 12          2
 8           2
 42          1
 800         1
 120         1
 560         1
 0           1
 600         1
 520         1
 180         1
 901         1
 9           1
 501         1
 502         1
 770         1
 140         1
 31          1
 23          1
Name: count, dtype: int64

#### Making one row per accident in the places file

In [18]:
#  Aggregate places per accident into pipe-separated lists (no new columns)

def build_places_agg(df_places):
    key = "Num_Acc"
    non_key_cols = [c for c in df_places.columns if c != key]

    out = pd.DataFrame(index=df_places[key].drop_duplicates().sort_values())

    for col in non_key_cols:
        # keep only (Num_Acc, col), drop NaNs, deduplicate pairs early
        s = df_places[[key, col]].dropna(subset=[col])
        # using strings is safer for join; pyarrow string if available is faster/memory-friendly
        try:
            s[col] = s[col].astype("string[pyarrow]")
        except Exception:
            s[col] = s[col].astype("string")

        s = s.drop_duplicates()  # (Num_Acc, value) pairs

        # group and join
        agg_col = s.groupby(key, sort=False)[col].agg("|".join)

        # align on index
        out[col] = agg_col

    out = out.reset_index()  # bring Num_Acc back as a column
    return out

# Aggregate places
df_places_agg = build_places_agg(df_places)


# Count the number of accidents recorded
unique_count = df_places_agg["Num_Acc"].nunique()
print("The number of accidents recorded in the aggregated places file is:", unique_count)

# Identify columns that contain "|" (meaning multiple values joined)
cols_with_pipe = [
    col for col in df_places_agg.columns
    if df_places_agg[col].astype(str).str.contains(r"\|", na=False).any()
]

print("\nColumns that contain '|' (aggregated from multiple place rows):")
print(cols_with_pipe)

# Show how many rows per column have multiple values
pipe_counts = (
    df_places_agg
      .astype(str)
      .apply(lambda col: col.str.contains(r"\|", na=False).sum())
)
pipe_counts = pipe_counts[pipe_counts > 0]  # only those with at least one "|"

print("\nNumber of rows with '|' per column:")
print(pipe_counts)

df_places_agg.info()

The number of accidents recorded in the aggregated places file is: 273226

Columns that contain '|' (aggregated from multiple place rows):
['voie', 'v1', 'v2', 'circ', 'nbv', 'vosp', 'prof', 'pr', 'pr1', 'plan', 'larrout', 'surf', 'infra', 'situ', 'vma']

Number of rows with '|' per column:
voie       8337
v1         4838
v2           59
circ       6018
nbv        8570
vosp       6555
prof       2808
pr         5218
pr1        5401
plan       2362
larrout    2041
surf        350
infra      2352
situ       1368
vma        5169
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273226 entries, 0 to 273225
Data columns (total 19 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Num_Acc  273226 non-null  int64
 1   catr     273226 non-null  string
 2   voie     244690 non-null  string
 3   v1       262480 non-null  string
 4   v2       22943 non-null   string
 5   circ     273226 non-null  string
 6   nbv      273226 non-null  string
 7   vosp     273226 non-null  string
 8   prof     273226 non-null  string
 9   pr       273226 non-null  string
 10  pr1      273226 non-null  string
 11  plan     273226 non-null  string
 12  lartpc   527 non-null     string
 13  larrout  214758 non-null  string
 14  surf     273226 non-null  string
 15  infra    273226 non-null  string
 16  situ     273226 non-null  string
 17  vma      273226 non-null  string
 18  year     273226 non-null  string
dtypes: int64(1), string(18)
memory usage: 49.4 MB

#### Dealing with the pipe-separated lists for the speed limit column

In [19]:
# Show only rows where vma contains "|"
vma_multi = df_places_agg[df_places_agg["vma"].astype(str).str.contains(r"\|", na=False)]

# See how many there are
print("Number of rows where vma has multiple values:", len(vma_multi))

# Display a few examples
print(vma_multi[["Num_Acc", "vma"]].head(20))

vma_multi.to_csv("vma_multiple_values.csv", sep=";", index=False)
print("Saved rows with multiple vma values to vma_multiple_values.csv")

Number of rows where vma has multiple values: 5169
             Num_Acc    vma
218421  202300000018  90|80
218444  202300000041  90|-1
218447  202300000044  50|-1
218508  202300000105  -1|80
218510  202300000107  80|-1
218513  202300000110  30|50
218514  202300000111  -1|50
218516  202300000113  80|50
218523  202300000120  -1|50
218528  202300000125  70|-1
218541  202300000138  50|-1
218542  202300000139  50|-1
218572  202300000169  70|-1
218606  202300000203  50|30
218620  202300000217  30|50
218633  202300000230  30|50
218638  202300000235  50|-1
218647  202300000244  50|-1
218648  202300000245  50|30
218663  202300000260  70|50
Saved rows with multiple vma values to vma_multiple_values.csv

In [20]:

import numpy as np

# Work only on rows that contain a "|"
mask = df_places_agg["vma"].astype(str).str.contains(r"\|", na=False)

def fix_vma(val):
    if pd.isna(val):
        return pd.NA

    parts = [p.strip() for p in str(val).split("|") if p.strip() != ""]

    # Try to parse numbers; if non-numeric appears, return NA
    try:
        nums = [float(p) for p in parts]
    except ValueError:
        return pd.NA

    # Remove duplicates, preserve order
    nums = list(dict.fromkeys(nums))

    # Case 1: both values are -1 → return NA
    if len(nums) == 2 and nums[0] == -1 and nums[1] == -1:
        return pd.NA

    # Case 2: two numbers where one is -1 → keep the other
    if len(nums) == 2 and (-1 in nums) and any(n != -1 for n in nums):
        return int([n for n in nums if n != -1][0])

    # Case 3: two valid numbers → mean, rounded to whole number
    if len(nums) == 2 and (-1 not in nums):
        return int(round((nums[0] + nums[1]) / 2))

    # Case 4: general fallback — drop -1, average remaining, rounded
    remaining = [n for n in nums if n != -1]
    if not remaining:
        return pd.NA
    return int(round(sum(remaining) / len(remaining)))

# --- Allow integer assignment into the column
df_places_agg["vma"] = df_places_agg["vma"].astype("object")

# Apply only to rows that contain '|'
df_places_agg.loc[mask, "vma"] = df_places_agg.loc[mask, "vma"].map(fix_vma)

# Convert column to numeric (nullable Int64)
df_places_agg["vma"] = pd.to_numeric(df_places_agg["vma"], errors="coerce").astype("Int64")

# Optional: verify
print("Rows with '|' in vma after fix:",
      df_places_agg["vma"].astype(str).str.contains(r"\|", na=False).sum())
print("Rows where vma is NA:", df_places_agg["vma"].isna().sum())

# show counts of the unique values in vma
display(df_places_agg['vma'].value_counts())

Rows with '|' in vma after fix: 0
Rows where vma is NA: 0

vma
50     139713
80      38635
30      31789
90      19796
70      19321
110      9699
130      5198
-1       4406
40       1184
60       1004
20        760
10        485
65        178
25        161
15        126
5         106
75        103
85        102
45         98
1          67
35         59
2          47
100        41
500        41
6          27
55         16
3           9
300         7
28          6
4           4
900         4
700         4
7           3
67          2
8           2
12          2
42          2
0           1
120         1
560         1
180         1
520         1
600         1
800         1
501         1
502         1
9           1
901         1
140         1
770         1
31          1
58          1
105         1
95          1
38          1
23          1
Name: count, dtype: Int64

## 5. Viewing the characteristics files 2019 - 2023

In [21]:
# Overview of the characteristics 2023 table
display(df_caracteristics_23.head())

# Data types and missing values
df_caracteristics_23.info()

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202300000001,7,5,2023,06:00,1,75,75101,2,4,2,7,RUE DE RIVOLI,"48,86638600","2,32347100"
1,202300000002,7,5,2023,05:30,5,94,94080,2,1,3,6,Avenue de Paris,"48,84547782","2,42868146"
2,202300000003,7,5,2023,20:50,1,94,94022,2,3,2,1,Avenue du GÃ©nÃ©ral Leclerc,"48,76240000","2,40655000"
3,202300000004,6,5,2023,23:57,5,94,94078,2,1,3,5,Rue de Paris,"48,73248432","2,44687575"
4,202300000005,7,5,2023,00:50,5,94,94068,2,2,3,3,56bis Avenue Raspail,"48,78581000","2,49217000"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54822 entries, 0 to 54821
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Num_Acc  54822 non-null  int64
 1   jour     54822 non-null  int64
 2   mois     54822 non-null  int64
 3   an       54822 non-null  int64
 4   hrmn     54822 non-null  object
 5   lum      54822 non-null  int64
 6   dep      54822 non-null  object
 7   com      54822 non-null  object
 8   agg      54822 non-null  int64
 9   int      54822 non-null  int64
 10  atm      54822 non-null  int64
 11  col      54822 non-null  int64
 12  adr      53433 non-null  object
 13  lat      54822 non-null  object
 14  long     54822 non-null  object
dtypes: int64(9), object(6)
memory usage: 6.3+ MB

In [22]:
# Overview of the characteristics 2022 table
display(df_caracteristics_22.head())

# Data types and missing values
df_caracteristics_22.info()

,Accident_Id,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202200000001,19,10,2022,16:15,1,26,26198,2,3,1,3,TEIL(vieille route du),"44,5594200000","4,7257200000"
1,202200000002,20,10,2022,08:34,1,25,25204,2,3,1,3,Miranda,"46,9258100000","6,3462000000"
2,202200000003,20,10,2022,17:15,1,22,22360,2,6,1,2,ROND POINT DE BREZILLET,"48,4931620000","-2,7604390000"
3,202200000004,20,10,2022,18:00,1,16,16102,2,3,8,6,LOHMEYER (RUE),"45,6926520000","-0,3262900000"
4,202200000005,19,10,2022,11:45,1,13,13103,1,1,1,2,ROUTE DE JEAN MOULIN-RN 538,"43,6755790366","5,0927031775"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55302 entries, 0 to 55301
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Accident_Id  55302 non-null  int64
 1   jour         55302 non-null  int64
 2   mois         55302 non-null  int64
 3   an           55302 non-null  int64
 4   hrmn         55302 non-null  object
 5   lum          55302 non-null  int64
 6   dep          55302 non-null  object
 7   com          55302 non-null  object
 8   agg          55302 non-null  int64
 9   int          55302 non-null  int64
 10  atm          55302 non-null  int64
 11  col          55302 non-null  int64
 12  adr          54069 non-null  object
 13  lat          55302 non-null  object
 14  long         55302 non-null  object
dtypes: int64(9), object(6)
memory usage: 6.3+ MB

In [23]:
# Overview of the characteristics 2021 table
display(df_caracteristics_21.head())

# Data types and missing values
df_caracteristics_21.info()

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202100000001,30,11,2021,07:32,2,30,30319,1,1,1,1,CD 981,"44,0389580000","4,3480220000"
1,202100000002,25,9,2021,14:20,1,51,51544,1,3,1,3,Aire de repos croisement D20E9 aprÃ¨s sortie D977,"49,2421290000","4,5545460000"
2,202100000003,15,7,2021,07:55,1,85,85048,2,1,7,6,15 rue FranÃ§ois Nicolas,"46,9219500000","-0,9644600000"
3,202100000004,27,3,2021,19:45,5,93,93005,2,2,3,6,Route de Mitry,"48,9493634583","2,5196639908"
4,202100000005,25,2,2021,07:20,5,76,76429,2,1,1,2,PARIS. ROUTE DE,"49,4083800000","1,1458100000"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56518 entries, 0 to 56517
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Num_Acc  56518 non-null  int64
 1   jour     56518 non-null  int64
 2   mois     56518 non-null  int64
 3   an       56518 non-null  int64
 4   hrmn     56518 non-null  object
 5   lum      56518 non-null  int64
 6   dep      56518 non-null  object
 7   com      56518 non-null  object
 8   agg      56518 non-null  int64
 9   int      56518 non-null  int64
 10  atm      56518 non-null  int64
 11  col      56518 non-null  int64
 12  adr      55945 non-null  object
 13  lat      56518 non-null  object
 14  long     56518 non-null  object
dtypes: int64(9), object(6)
memory usage: 6.5+ MB

In [24]:
# Overview of the characteristics 2020 table
display(df_caracteristics_20.head())

# Data types and missing values
df_caracteristics_20.info()

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202000000001,7,3,2020,16:55,1,91,91657,2,3,1,3,HENRI BARBUSSE (AVENUE),"48,7053500","2,4384100"
1,202000000002,7,3,2020,08:35,2,91,91657,2,9,7,6,MOUSSEAUX(CHEMIN),"48,6900000","2,4100000"
2,202000000003,7,3,2020,13:30,1,91,91174,2,2,1,3,CARNOT(AVENUE),"48,6106700","2,4758200"
3,202000000004,7,3,2020,18:50,5,91,91215,2,1,1,6,VICTOR HUGO (AVENUE),"48,6978200","2,5244600"
4,202000000005,7,3,2020,11:00,1,77,77181,1,6,1,2,LAGNY (RUE DE ) - D35,"48,8286457","2,7059707"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47744 entries, 0 to 47743
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Num_Acc  47744 non-null  int64
 1   jour     47744 non-null  int64
 2   mois     47744 non-null  int64
 3   an       47744 non-null  int64
 4   hrmn     47744 non-null  object
 5   lum      47744 non-null  int64
 6   dep      47744 non-null  object
 7   com      47744 non-null  object
 8   agg      47744 non-null  int64
 9   int      47744 non-null  int64
 10  atm      47744 non-null  int64
 11  col      47744 non-null  int64
 12  adr      47387 non-null  object
 13  lat      47744 non-null  object
 14  long     47744 non-null  object
dtypes: int64(9), object(6)
memory usage: 5.5+ MB

In [25]:
# Overview of the characteristics 2019 table
display(df_caracteristics_19.head())

# Data types and missing values
df_caracteristics_19.info()

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,201900000001,30,11,2019,01:30,4,93,93053,1,1,1,2,AUTOROUTE A3,"48,8962100","2,4701200"
1,201900000002,30,11,2019,02:50,3,93,93066,1,1,1,6,AUTOROUTE A1,"48,9307000","2,3688000"
2,201900000003,28,11,2019,15:15,1,92,92036,1,1,1,4,AUTOROUTE A86,"48,9358718","2,3191744"
3,201900000004,30,11,2019,20:20,5,94,94069,1,1,1,4,A4,"48,8173295","2,4281502"
4,201900000005,30,11,2019,04:00,3,94,94028,1,1,1,2,A86 INT,"48,7763620","2,4332540"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58840 entries, 0 to 58839
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Num_Acc  58840 non-null  int64
 1   jour     58840 non-null  int64
 2   mois     58840 non-null  int64
 3   an       58840 non-null  int64
 4   hrmn     58840 non-null  object
 5   lum      58840 non-null  int64
 6   dep      58840 non-null  object
 7   com      58840 non-null  object
 8   agg      58840 non-null  int64
 9   int      58840 non-null  int64
 10  atm      58840 non-null  int64
 11  col      58840 non-null  int64
 12  adr      58413 non-null  object
 13  lat      58840 non-null  object
 14  long     58840 non-null  object
dtypes: int64(9), object(6)
memory usage: 6.7+ MB

## 6. Concatenating the characteristics files 2019 - 2023

In [26]:
# File paths
files = {
    2019: "caracteristics_2019.csv",
    2020: "caracteristics_2020.csv",
    2021: "caracteristics_2021.csv",
    2022: "caracteristics_2022.csv",
    2023: "caracteristics_2023.csv",
}
# Read, add year column, and store in a list
dfs = []
for year, path in files.items():
    df = pd.read_csv(path, sep = ";", low_memory = False)

    # Dataframe for 2022 has "Accident_Id" instead of "Num_Acc"
    if "Accident_Id" in df.columns:
        df = df.rename(columns={"Accident_Id": "Num_Acc"})

    # Add year column
    df["year"] = year
    dfs.append(df)

# Concatenate all years for characteristics 2019 - 2023
combined_df = pd.concat(dfs, ignore_index = True)

# Check for duplicates
duplicates = combined_df.duplicated()

# Count the number of duplicates
num_duplicates = duplicates.sum()

print("Number of duplicate rows:", num_duplicates)

# Save to a single CSV
combined_df.to_csv("caracteristiques-2019-2023.csv", sep = ";", index = False)
print("Combined file saved as caracteristiques-2019-2023.csv")

Number of duplicate rows: 0
Combined file saved as caracteristiques-2019-2023.csv

In [27]:
# read in the combined dataframe
df_characteristics = pd.read_csv('caracteristiques-2019-2023.csv', sep = ";")

# Drop the "an" column, since made a "year" column for all dataframes
df_characteristics = df_characteristics.drop(columns=["an"], errors="ignore")

# Overview of the concatenated characteristics table
display(df_characteristics.head())

# Drop the "an" column, since made a "year" column for all dataframes
df_characteristics = df_characteristics.drop(columns=["an"], errors="ignore")

# Data types and percentage of missing values
df_characteristics.info()
missing_data_percentage_characteristics = (df_characteristics.isnull().sum()/len(df_characteristics))* 100
print(missing_data_percentage_characteristics)

# Count the number of accidents recorded
unique_count = df_characteristics["Num_Acc"].nunique()
print("The number of accidents recorded in the characteristics file is:", unique_count)

,Num_Acc,jour,mois,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long,year
0,201900000001,30,11,01:30,4,93,93053,1,1,1,2,AUTOROUTE A3,"48,8962100","2,4701200",2019
1,201900000002,30,11,02:50,3,93,93066,1,1,1,6,AUTOROUTE A1,"48,9307000","2,3688000",2019
2,201900000003,28,11,15:15,1,92,92036,1,1,1,4,AUTOROUTE A86,"48,9358718","2,3191744",2019
3,201900000004,30,11,20:20,5,94,94069,1,1,1,4,A4,"48,8173295","2,4281502",2019
4,201900000005,30,11,04:00,3,94,94028,1,1,1,2,A86 INT,"48,7763620","2,4332540",2019

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273226 entries, 0 to 273225
Data columns (total 15 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Num_Acc  273226 non-null  int64
 1   jour     273226 non-null  int64
 2   mois     273226 non-null  int64
 3   hrmn     273226 non-null  object
 4   lum      273226 non-null  int64
 5   dep      273226 non-null  object
 6   com      273226 non-null  object
 7   agg      273226 non-null  int64
 8   int      273226 non-null  int64
 9   atm      273226 non-null  int64
 10  col      273226 non-null  int64
 11  adr      269247 non-null  object
 12  lat      273226 non-null  object
 13  long     273226 non-null  object
 14  year     273226 non-null  int64
dtypes: int64(9), object(6)
memory usage: 31.3+ MB
Num_Acc    0.000000
jour       0.000000
mois       0.000000
hrmn       0.000000
lum        0.000000
dep        0.000000
com        0.000000
agg        0.000000
int        0.000000
atm        0.000000
col        0.000000
adr        1.456304
lat        0.000000
long       0.000000
year       0.000000
dtype: float64
The number of accidents recorded in the characteristics file is: 273226

## 7. Viewing the vehicles files 2019 - 2023

In [28]:
# Overview of the vehicules 2023 table
display(df_vehicles_23.head())

# Data types and missing values
df_vehicles_23.info()

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,occutc
0,202300000001,155 680 557,A01,1,30,0,0,5,1,1,NaN
1,202300000002,155 680 556,A01,2,7,0,1,1,1,1,NaN
2,202300000003,155 680 554,B01,1,2,0,2,1,16,1,NaN
3,202300000003,155 680 555,A01,2,7,0,2,2,15,1,NaN
4,202300000004,155 680 551,B01,1,7,0,2,9,2,4,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93585 entries, 0 to 93584
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Num_Acc      93585 non-null  int64
 1   id_vehicule  93585 non-null  object
 2   num_veh      93585 non-null  object
 3   senc         93585 non-null  int64
 4   catv         93585 non-null  int64
 5   obs          93585 non-null  int64
 6   obsm         93585 non-null  int64
 7   choc         93585 non-null  int64
 8   manv         93585 non-null  int64
 9   motor        93585 non-null  int64
 10  occutc       838 non-null    float64
dtypes: float64(1), int64(8), object(2)
memory usage: 7.9+ MB

In [29]:
# Overview of the vehicules 2022 table
display(df_vehicles_22.head())

# Data types and missing values
df_vehicles_22.info()

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,occutc
0,202200000001,813 952,A01,1,2,0,2,1,9,1,NaN
1,202200000001,813 953,B01,1,7,0,2,2,1,1,NaN
2,202200000002,813 950,B01,2,7,0,2,8,15,1,NaN
3,202200000002,813 951,A01,2,10,0,2,1,1,1,NaN
4,202200000003,813 948,A01,2,7,0,2,1,2,1,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94493 entries, 0 to 94492
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Num_Acc      94493 non-null  int64
 1   id_vehicule  94493 non-null  object
 2   num_veh      94493 non-null  object
 3   senc         94493 non-null  int64
 4   catv         94493 non-null  int64
 5   obs          94493 non-null  int64
 6   obsm         94493 non-null  int64
 7   choc         94493 non-null  int64
 8   manv         94493 non-null  int64
 9   motor        94493 non-null  int64
 10  occutc       817 non-null    float64
dtypes: float64(1), int64(8), object(2)
memory usage: 7.9+ MB

In [30]:
# Overview of the vehicules 2021 table
display(df_vehicles_21.head())

# Data types and missing values
df_vehicles_21.info()

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,occutc
0,202100000001,201 764,B01,1,1,0,2,1,1,5,NaN
1,202100000001,201 765,A01,1,7,0,9,3,17,1,NaN
2,202100000002,201 762,A01,0,7,2,2,1,1,0,NaN
3,202100000002,201 763,B01,0,7,0,2,1,9,0,NaN
4,202100000003,201 761,A01,1,7,0,1,3,1,1,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97315 entries, 0 to 97314
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Num_Acc      97315 non-null  int64
 1   id_vehicule  97315 non-null  object
 2   num_veh      97315 non-null  object
 3   senc         97315 non-null  int64
 4   catv         97315 non-null  int64
 5   obs          97315 non-null  int64
 6   obsm         97315 non-null  int64
 7   choc         97315 non-null  int64
 8   manv         97315 non-null  int64
 9   motor        97315 non-null  int64
 10  occutc       744 non-null    float64
dtypes: float64(1), int64(8), object(2)
memory usage: 8.2+ MB

In [31]:
# Overview of the vehicules 2020 table
display(df_vehicles_20.head())

# Data types and missing values
df_vehicles_20.info()

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,occutc
0,202000000001,154 742 274,B01,1,7,0,2,2,15,1,NaN
1,202000000001,154 742 275,A01,1,33,0,2,1,2,1,NaN
2,202000000002,154 742 273,A01,3,7,0,1,2,26,1,NaN
3,202000000003,154 742 271,B01,1,7,0,2,1,1,1,NaN
4,202000000003,154 742 272,A01,1,7,0,2,8,1,0,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81066 entries, 0 to 81065
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Num_Acc      81066 non-null  int64
 1   id_vehicule  81066 non-null  object
 2   num_veh      81066 non-null  object
 3   senc         81066 non-null  int64
 4   catv         81066 non-null  int64
 5   obs          81066 non-null  int64
 6   obsm         81066 non-null  int64
 7   choc         81066 non-null  int64
 8   manv         81066 non-null  int64
 9   motor        81066 non-null  int64
 10  occutc       621 non-null    float64
dtypes: float64(1), int64(8), object(2)
memory usage: 6.8+ MB

In [32]:
# Overview of the vehicules 2019 table
display(df_vehicles_19.head())

# Data types and missing values
df_vehicles_19.info()

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,occutc
0,201900000001,138 306 524,B01,2,7,0,2,5,23,1,NaN
1,201900000001,138 306 525,A01,2,17,1,0,3,11,1,NaN
2,201900000002,138 306 523,A01,1,7,4,0,1,0,1,NaN
3,201900000003,138 306 520,A01,1,7,0,2,1,2,1,NaN
4,201900000003,138 306 521,B01,1,7,1,0,4,2,1,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100710 entries, 0 to 100709
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Num_Acc      100710 non-null  int64
 1   id_vehicule  100710 non-null  object
 2   num_veh      100710 non-null  object
 3   senc         100710 non-null  int64
 4   catv         100710 non-null  int64
 5   obs          100710 non-null  int64
 6   obsm         100710 non-null  int64
 7   choc         100710 non-null  int64
 8   manv         100710 non-null  int64
 9   motor        100710 non-null  int64
 10  occutc       892 non-null     float64
dtypes: float64(1), int64(8), object(2)
memory usage: 8.5+ MB

## 8. Concatenating the vehicles files 2019 - 2023

In [33]:
# File paths
files = {
    2019: "vehicles_2019.csv",
    2020: "vehicles_2020.csv",
    2021: "vehicles_2021.csv",
    2022: "vehicles_2022.csv",
    2023: "vehicles_2023.csv",
}
# Read, add year column, and store in a list
dfs = []
for year, path in files.items():
    df = pd.read_csv(path, sep = ";", low_memory = False)

    # Add year column
    df["year"] = year
    dfs.append(df)

# Concatenate all years for vehicules 2019 - 2023
combined_df = pd.concat(dfs, ignore_index = True)

# Check for duplicates
duplicates = combined_df.duplicated()

# Count the number of duplicates
num_duplicates = duplicates.sum()

print("Number of duplicate rows:", num_duplicates)

# Save to a single CSV
combined_df.to_csv("vehicules-2019-2023.csv", sep = ";", index = False)
print("Combined file saved as vehicules-2019-2023.csv")

Number of duplicate rows: 0
Combined file saved as vehicules-2019-2023.csv

In [34]:
# read in the combined dataframe
df_vehicules = pd.read_csv('vehicules-2019-2023.csv', sep = ";")

# Overview of the concatenated vehicules table
display(df_vehicules.head())

# Data types and percentage of missing values
df_vehicules.info()
missing_data_percentage_vehicules = (df_vehicules.isnull().sum()/len(df_vehicules))* 100
print(missing_data_percentage_vehicules)

# Count the number of accidents recorded
unique_count = df_places["Num_Acc"].nunique()
print("The number of accidents recorded in the vehicules file is:", unique_count)

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,occutc,year
0,201900000001,138 306 524,B01,2,7,0,2,5,23,1,NaN,2019
1,201900000001,138 306 525,A01,2,17,1,0,3,11,1,NaN,2019
2,201900000002,138 306 523,A01,1,7,4,0,1,0,1,NaN,2019
3,201900000003,138 306 520,A01,1,7,0,2,1,2,1,NaN,2019
4,201900000003,138 306 521,B01,1,7,1,0,4,2,1,NaN,2019

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 467169 entries, 0 to 467168
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Num_Acc      467169 non-null  int64
 1   id_vehicule  467169 non-null  object
 2   num_veh      467169 non-null  object
 3   senc         467169 non-null  int64
 4   catv         467169 non-null  int64
 5   obs          467169 non-null  int64
 6   obsm         467169 non-null  int64
 7   choc         467169 non-null  int64
 8   manv         467169 non-null  int64
 9   motor        467169 non-null  int64
 10  occutc       3912 non-null    float64
 11  year         467169 non-null  int64
dtypes: float64(1), int64(9), object(2)
memory usage: 42.8+ MB
Num_Acc         0.000000
id_vehicule     0.000000
num_veh         0.000000
senc            0.000000
catv            0.000000
obs             0.000000
obsm            0.000000
choc            0.000000
manv            0.000000
motor           0.000000
occutc         99.162616
year            0.000000
dtype: float64
The number of accidents recorded in the vehicules file is: 273226

## 9. Merging the characteristics, places, vehicules and users files

In [35]:

# Keep 'year' only in characteristics
for df in (df_places_agg, df_vehicules, df_users):
    df.drop(columns="year", inplace=True, errors="ignore")


# Merge for user-level grain (one row per person)
full_data = (
    df_users
      .merge(df_vehicules,
             on=["Num_Acc", "id_vehicule", "num_veh"],
             how="left")
      .merge(df_characteristics,
             on="Num_Acc",
             how="left")
      .merge(df_places_agg,
             on="Num_Acc",
             how="left")
)

# Save
full_data.to_csv("road_accidents_france_2019_2023.csv", sep=";", index=False)
print("Combined file saved as road_accidents_france_2019_2023.csv")

Combined file saved as road_accidents_france_2019_2023.csv

In [36]:
# Overview of merged dataframes
display(full_data.head())

# Data types and missing values
full_data.info()

# Count the number of accidents recorded
unique_count = full_data["Num_Acc"].nunique()
print("The number of accidents recorded in the merged file is:", unique_count)

,Num_Acc,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,...,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,201900000001,138 306 524,B01,2,2,4,2,2002.0,0,1,...,1,6,900,2,<NA>,<NA>,1,2,1,70
1,201900000001,138 306 524,B01,1,1,4,2,1993.0,5,1,...,1,6,900,2,<NA>,<NA>,1,2,1,70
2,201900000001,138 306 525,A01,1,1,1,1,1959.0,0,1,...,1,6,900,2,<NA>,<NA>,1,2,1,70
3,201900000002,138 306 523,A01,1,1,4,2,1994.0,0,1,...,4,3,845,2,<NA>,<NA>,1,0,1,70
4,201900000003,138 306 520,A01,1,1,1,1,1996.0,0,1,...,1,10,500,3,<NA>,<NA>,1,0,1,90

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 619807 entries, 0 to 619806
Data columns (total 55 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Num_Acc      619807 non-null  int64
 1   id_vehicule  619807 non-null  object
 2   num_veh      619807 non-null  object
 3   place        619807 non-null  int64
 4   catu         619807 non-null  int64
 5   grav         619807 non-null  int64
 6   sexe         619807 non-null  int64
 7   an_nais      611268 non-null  float64
 8   trajet       619807 non-null  int64
 9   secu1        619807 non-null  int64
 10  secu2        619807 non-null  int64
 11  secu3        619807 non-null  int64
 12  locp         619807 non-null  int64
 13  actp         619807 non-null  object
 14  etatp        619807 non-null  int64
 15  id_usager    381699 non-null  string
 16  senc         619807 non-null  int64
 17  catv         619807 non-null  int64
 18  obs          619807 non-null  int64
 19  obsm         619807 non-null  int64
 20  choc         619807 non-null  int64
 21  manv         619807 non-null  int64
 22  motor        619807 non-null  int64
 23  occutc       8115 non-null    float64
 24  jour         619807 non-null  int64
 25  mois         619807 non-null  int64
 26  hrmn         619807 non-null  object
 27  lum          619807 non-null  int64
 28  dep          619807 non-null  object
 29  com          619807 non-null  object
 30  agg          619807 non-null  int64
 31  int          619807 non-null  int64
 32  atm          619807 non-null  int64
 33  col          619807 non-null  int64
 34  adr          610426 non-null  object
 35  lat          619807 non-null  object
 36  long         619807 non-null  object
 37  year         619807 non-null  int64
 38  catr         619807 non-null  string
 39  voie         560795 non-null  string
 40  v1           595243 non-null  string
 41  v2           52538 non-null   string
 42  circ         619807 non-null  string
 43  nbv          619807 non-null  string
 44  vosp         619807 non-null  string
 45  prof         619807 non-null  string
 46  pr           619807 non-null  string
 47  pr1          619807 non-null  string
 48  plan         619807 non-null  string
 49  lartpc       1160 non-null    string
 50  larrout      487762 non-null  string
 51  surf         619807 non-null  string
 52  infra        619807 non-null  string
 53  situ         619807 non-null  string
 54  vma          619807 non-null  Int64
dtypes: Int64(1), float64(2), int64(26), object(9), string(17)
memory usage: 280.0+ MB
The number of accidents recorded in the merged file is: 273226